input[type="text"], input[type="password"]
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#loginTitle
{
	margin: 100px auto 0px;
	background-color: #394250;
	padding: 15px 10px;
	width: 445px;
	font-family: "Book Antiqua", Palatino, Georgia, serif;
	font-size: 2em;
	font-weight: bold;
}

#loginArea
{
	width: 465px; 
	height: 190px;
	padding-top: 50px;
	margin: 0px auto 100px;
	text-align:center;
	background-color: #66707F; 
}

#logoutTitle
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	
	background-color: #394250;
	padding: 10px 322px 10px 10px;
}