article ul
{
	margin: 100px auto 50px;
	width: 320px;
}

article li
{
	padding-bottom: 20px;
}

article a
{
	color: #a5aab0;
}

.selectionItem
{
	display: inline-block;
	background-color: #394250;
	padding: 15px 10px;
	width: 300px;
	font-family: "Book Antiqua", Palatino, Georgia, serif;
	font-size: 2em;
	font-weight: bold;

	border-bottom: 75px #66707F solid;
}

.selectionItem:hover
{
	display: inline-block;
	background-color: #66707F;
	padding: 15px 10px;
	width: 300px;
	font-family: "Book Antiqua", Palatino, Georgia, serif;
	font-size: 2em;
	font-weight: bold;

	border-bottom: 75px #394250 solid;
	text-decoration: none;
}
