/************** Styles for the whole page *******************/
* 
{
	margin: 0;
	padding: 0;
}

html 
{
	background: #1F2839; /* url('/images/bg_gradient.jpg') repeat-x 0 100% */
	min-height: 100%;	
	height: 100%;
}

body 
{
	color: #a5aab0;
	font: 12px Helvetica, Arial, sans-serif;
	font-weight: 100;
	min-height: 100%;
	height: 100%;
}

a 
{
	color: #d85700;
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;
}

img 
{
	border: none;
}

p
{
	margin: 1em 0;
}

p#error 
{
	margin-top: 15px;
	color: #5D3E3C;
}


ul, ol 
{
	list-style: none;
}

textarea
{
	resize:none;
	width:210px;
}

address 
{
	font-style: normal;
}

.titleColor
{
	color: #d85700;
}

.clear 
{
	clear:both;
	text-align:right;
	width: 1000px;
	margin: 0 auto;
}

input[type="submit"]
{
	margin-top:25px;
	border: 0;
	border-radius: 2px;
	outline: 0;
	background: #C65200;
	box-shadow: 1px 0px 1px #9F4B21,0px 1px 1px #5D3E3C,2px 1px 1px #9F4B21,1px 2px 1px #5D3E3C,3px 2px 1px #9F4B21,2px 3px 1px #5D3E3C,4px 3px 1px #9F4B21,3px 4px 1px #5D3E3C,5px 4px 1px #9F4B21,4px 5px 1px #5D3E3C,6px 5px 1px #9F4B21;
	color: white;
	white-space: nowrap;
	padding: 9px 16px
}
input[type="submit"]:hover
{
	margin-top:25px;
	border: 0;
	border-radius: 2px;
	outline: 0;
	background: #4D2F2D;
	box-shadow: 1px 0px 1px #5D3E3C,0px 1px 1px #89472B,2px 1px 1px #5D3E3C,1px 2px 1px #89472B,3px 2px 1px #5D3E3C,2px 3px 1px #89472B,4px 3px 1px #5D3E3C,3px 4px 1px #89472B,5px 4px 1px #5D3E3C,4px 5px 1px #89472B,6px 5px 1px #5D3E3C;
	color: white;
	white-space: nowrap;
	padding: 9px 16px
}

input[type="text"], input[type="password"]
{
	border: 1px solid #AAA;
	border-radius: 2px;
	width: 65%;
	font-size: 14px;
	padding: 7px 8px 7px;

	margin-bottom: 10px;
}


/********************** Page Container **********************/
#container 
{
	background:url('../images/lines.jpg') no-repeat;
	width: 100%;
	overflow: hidden;
	margin: 0 auto -78px;

	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

/************************** Header **************************/
header
{
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}

#logo 
{
	height:128px;
	width:350px;
	margin-top:10px;	
	float: left;
	background-image:url('../images/logo.png');
	background-position: 0 0;
}

#quote 
{
	margin-top: 50px;
	margin-left: 40px;
}

nav 
{
	float: right;
}

nav li 
{
	height: 130px;
	width: 35px;
	border-left: 1px solid #1F2839;
	float: left;
}

.nav1
{
	background: url('../images/nav-1.gif') no-repeat;
}

.nav2 
{
	background: url('../images/nav-2.gif') no-repeat;
}

.nav3 
{
	background: url('../images/nav-3.gif') no-repeat;
}

.nav4 
{
	background: url('../images/nav-4.gif') no-repeat;
}

.nav5
{
	background: url('../images/nav-5.gif') no-repeat;
}

.nav6 
{
	background: url('../images/nav-6.gif') no-repeat;
}

.nav7
{
	background: url('../images/nav-7.gif') no-repeat;
}

/************************* Article **************************/
article 
{
	width: 1000px;
	padding:0;
	margin:0 auto;
	overflow: hidden;
}

/************************** Footer **************************/
footer
{
/*	width: 900px;
	height:50px;
	padding:15px;
	margin: auto;
	background: url('../images/bg-footer.gif');
	color: #4b5461;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;*/

	width: 900px;
	height: 50px;
	padding: 15px;
	margin: auto;
	background: url('../images/bg-footer.gif');
	color: #4b5461;
}

#pushFooter 
{
height: 80px;
}

.footLeft 
{
	float: left;
	display: inline;
}

.footRight 
{
	float: right;
	display: inline;
}