{% extends "base.template.html" %}
{% block title %}View Team - The Refuge{% endblock %}

{% block content %}
<div class="row mainContent">
    <div class="col-sm-12 col-md-12">
        <h1>Team: {{ team.name }}</h1>
        <a class="btn btn-primary" href="/team/edit/{{team.id}}/">Edit Team</a>
        <h2>Members:</h2>
        <table class="table table-striped table-hover" id="teamTable">
            <thead>  
                <tr>  
                    <th>Last</th>
                    <th>First</th>  
                    <th>Email</th>
                    <th>Check In</th>
                </tr>  
            </thead>
            <tbody>

            {% for x in teamMembers %}
                <tr>
                    <td><a href="/client/{{x.id}}/">{{x.lastName}}</a></td>
                    <td>{{x.firstName}}</td>
                    <td>{{x.email}}</td>
                    <td>Check In</td>
                </tr>

            {% empty %}
                <tr>
                    <td>None</td>
                    <td>None</td>  
                    <td>None</td>
                    <td>None</td>
                </tr>
            {% endfor %}

            </tbody>  
        </table>
        <h2>Team Score: {{teamPoints}}</h2>
    </div>
</div>
{% endblock %}

{% block foot %}
<script>
$(document).ready(function() {

    $('#teamTable tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>
{% endblock %}