{% extends "base.template.html" %}
{% load tz %}
{% block title %}Client - The Refuge{% endblock %}

{% block content %}
{% timezone "America/Phoenix" %}
<div class="row mainContent">
    <div class="col-sm-12 col-md-12">
        <h1>{{client.firstName}} {{client.middleName}} {{client.lastName}}</h1>
        <h4>{{client.phone}}</h4>
        <h4>{{client.email}}</h4>
        <h4>{{client.dateOfBirth}}</h4>
        <h4>{{client.address.street}}</h4>
        <h4>{{client.address.city}}, {{client.address.state}} {{client.address.zipCode}}</h4>
        <h3>Points: {{clientPoints}}</h3>
        <a class="btn btn-primary" href="/client/{{client.id}}/checkin/">Check In {{client.firstName}} {{client.lastName}}</a>
        <h3>Member of Team</h3>
        <table class="table table-striped table-hover" id="teamTable">
            <thead>  
                <tr>  
                    <th>Team</th>
                    <th>Points</th>
                </tr>  
            </thead>
            <tbody>

            {% for aTeam in theTeams %}
                <tr>
                    <td><a href="/team/edit/{{aTeam.id}}/">{{aTeam.name}}</a></td>
                    <td>{{aTeam.points}}</td>
                </tr>

            {% empty %}
                <tr>
                    <td>None</td>
                    <td>None</td>
                </tr>
            {% endfor %}

            </tbody>  
        </table>
        <h3>Recent Check Ins</h3>
        <table class="table table-striped">
            <thead>  
                <tr>  
                    <th>Name</th>  
                    <th>Points Earned</th>
                    <th>Date</th>
                </tr>  
            </thead>
            <tbody>

            {% for aRecord in theRecords %}
                <tr>
                    <td>{{aRecord.name}}</td>
                    <td>{{aRecord.points}}</td>
                    <td>{{aRecord.date}}</td>
                </tr>

            {% empty %}
                <tr>
                    <td>None</td>  
                    <td>None</td>
                    <td>None</td>
                </tr>
            {% endfor %}

            </tbody>  
        </table>
    </div>
</div>
{% endtimezone %}
{% endblock %}

{% block foot %}
<script>
$(document).ready(function() {

    $('#teamTable tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>
{% endblock %}